@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-bg: '#FBFEF4';
	}

	* {
		font-family: "Montserrat", sans-serif;
	}

	body {
		background-color: var(--color-bg);
	}
}
